.btn {
  --fs-border-only: var(--fs-400);
  text-transform: inherit;

  &--border-only {
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.85);
    font-size: var(--fs-400);
    text-transform: inherit;
    letter-spacing: 0.15em;
    padding: 0.5em 2.5em;
    border: 2px solid var(--clr-neutral-500);
    border-radius: 0.5em;
    transition: background-color 200ms ease;

    &:hover {
      background-color: var(--clr-neutral-100);
      color: var(--clr-neutral-600);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.97);
    }
  }

  &--white {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-700);
    font-size: var(--fs-400);
    letter-spacing: 0.15em;
    font-weight: var(--fw-bold);
    padding: 0.75em 2.5em;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 8px 15px -5px hsla(0, 0%, 0%, 0.25);
    transition: background-color 200ms ease;


    &:hover {
      cursor: pointer;
      background-color: var(--clr-orange-400);
      color: var(--clr-neutral-100);
    }

    &:active {
      transform: scale(0.97);
      box-shadow: none;
    }
  }
}