.btn {
    text-transform: inherit;

    &--border-only {
        --clr-neutral-100-values: 0, 0%, 100%;
        background-color: transparent;
        color: hsla(var(--clr-neutral-100-values), 0.85);
        letter-spacing: 0.15em;
        padding: 0.5em 2.5em;
        border: 2px solid hsla(var(--clr-neutral-100-values), 0.6);
        border-radius: 0.5em;
        transition: background-color 200ms ease;

        &:hover {
            background-color: var(--clr-neutral-100);
            color: var(--clr-neutral-600);
            cursor: pointer;
        }

        &:active {
            transform: scale(0.97);
        }
    }

    &--white {
        background-color: var(--clr-neutral-100);
        color: var(--clr-neutral-700);
        letter-spacing: 0.15em;
        padding: 0.75em 2.5em;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 8px 15px -5px hsla(0, 0%, 0%, 0.25);
        transition: color 200ms ease;


        &:hover {
            cursor: pointer;
            color: var(--clr-red-400);
        }

        &:active {
            transform: scale(0.97);
            box-shadow: none;
        }
    }
}