.chip {
  width: 7.5rem;
  aspect-ratio: 1/1;
  background-color: var(--clr-neutral-100);
  border: none;
  border-radius: 50%;
  box-shadow: 0 -5px 0 hsla(0, 0%, 0%, 0.2) inset;
  position: relative;

  &::before {
    --translate-pos: translate(-50%, -50%);
    content: '';
    width: 75%;
    aspect-ratio: 1/1;
    background-color: var(--clr-neutral-100);
    background-image: var(--chip-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 42%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: var(--translate-pos);
    border-radius: 50%;
    box-shadow: 0 5px 0 hsla(0, 0%, 0%, 0.1) inset;
    transition: transform 200ms ease;
  }

  &:hover {
    cursor: pointer;

    &::before {
      transform: var(--translate-pos) rotate(25deg);
    }
  }

  &:active {
    transform: scale(0.97);
  }

  &--rock {
    background: linear-gradient(var(--clr-red-400), var(--clr-red-500)) no-repeat;

    &::before {
      --chip-icon: url('/images/icon-rock.svg');
    }
  }

  &--paper {
    background: linear-gradient(var(--clr-blue-400), var(--clr-blue-500)) no-repeat;

    &::before {
      --chip-icon: url('/images/icon-paper.svg');
    }
  }

  &--scissors {
    background: linear-gradient(var(--clr-orange-400), var(--clr-orange-500)) no-repeat;

    &::before {
      --chip-icon: url('/images/icon-scissors.svg');
    }
  }

  &--lizard {
    background: linear-gradient(var(--clr-purple-400), var(--clr-purple-500)) no-repeat;

    &::before {
      --chip-icon: url('/images/icon-lizard.svg');
    }
  }

  &--spock {
    background: linear-gradient(var(--clr-cyan-400), var(--clr-cyan-500)) no-repeat;

    &::before {
      --chip-icon: url('/images/icon-spock.svg');
    }
  }

  &__paragraph {
    text-align: center;
    position: relative;
    top: 115%;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
  }
}