@use '../abstracts/breakpoints' as brk;

.animate-closing {
	--board-animation-duration: 400ms;
	--chosen-chips-animation-duration: 400ms;
	--results-animation-name: move-up;

	@include brk.minWidth(large) {
		--results-animation-name: visible-to-invisible;
	}

	&.board {
		animation: shrink-bg var(--board-animation-duration) ease-in forwards;
	}
	.board__chip-wrapper {
		animation: center-center-vanish var(--board-animation-duration) ease-in forwards;
	}

	.chosen-chips__user {
		animation: left-to-center var(--chosen-chips-animation-duration) ease forwards;
	}

	.chosen-chips__house {
		animation: right-to-center var(--chosen-chips-animation-duration) ease forwards;
	}

	.chosen-chips__results {
		animation: var(--results-animation-name) var(--chosen-chips-animation-duration) ease forwards;
	}

	&.rules__img {
		animation: visible-to-invisible 400ms ease forwards;
	}
}