@keyframes shrink-bg {
  100% {
    background-size: 0;
  }
}

@keyframes to-center {
  100% {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes to-top-left {
  100% {
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    transform: translate(0, 0);
  }
}

@keyframes to-top-right {
  100% {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    transform: translate(0, 0);
  }
}