/* CSS RESET */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/* default focus-visible styles */
*:focus-visible {
  outline: 2px dotted hsla(0, 0%, 100%, 0.5);
  outline-offset: 5px;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* basic styling on body */
body {
  background: linear-gradient(var(--clr-neutral-700), var(--clr-neutral-900)) no-repeat;
  background-size: cover;
}