:root {
  /* primary colours */
  --clr-red-400: hsl(349, 70%, 56%);
  --clr-red-500: hsl(349, 71%, 52%);

  --clr-blue-400: hsl(230, 89%, 65%);
  --clr-blue-500: hsl(230, 89%, 62%);

  --clr-orange-400: hsl(40, 84%, 53%);
  --clr-orange-500: hsl(39, 89%, 49%);

  --clr-purple-400: hsl(261, 72%, 63%);
  --clr-purple-500: hsl(261, 73%, 60%);

  --clr-cyan-400: hsl(189, 58%, 57%);
  --clr-cyan-500: hsl(189, 59%, 53%);
  /* Neutral Colours */
  --clr-neutral-100: hsl(0, 0, 100%);
  --clr-neutral-400: hsl(229, 64%, 46%);
  --clr-neutral-600: hsl(217, 16%, 45%);
  --clr-neutral-700: hsl(229, 25%, 31%);
  --clr-neutral-900: hsl(237, 49%, 15%);
}