@use '../abstracts/breakpoints' as brk;

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root {
  --ff-primary: 'Barlow Semi Condensed', sans-serif;

  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 0.875rem;
  @include brk.minWidth(xsmall) {
    --fs-400: 1rem;
  }
}

/* typography reset */

/*
 Remove built-in typography styles
*/
* {
  font: inherit;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* general body typography */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
}