@use '../abstracts/breakpoints' as brk;

:root {
    --ff-primary: 'Barlow Semi Condensed', sans-serif;

    --fw-semi-bold: 600;
    --fw-bold: 700;
}

/*
 Remove built-in typography styles
*/
* {
    font: inherit;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

/* general body typography */
body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-semi-bold);
}