.board {
  width: min(100%, 30rem);
  position: relative;
  isolation: isolate;
  outline: 1px solid red;

  &__chips-container {
    width: 100%;
    aspect-ratio: 1.1/1;
    position: relative;
  }
}