.chosen-chips {
  --ani-dur: 400ms;
  --ani-style: ease-in;
  isolation: isolate;

  &__user,
  &__house {
    position: absolute;
    /* for inner contents */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    isolation: isolate;
  }

  &__user {
    animation: center-to-top-left var(--ani-dur) var(--ani-style) forwards;
  }

  &__house {
    animation: center-to-top-right var(--ani-dur) var(--ani-style) forwards;
  }

  &__texts {
    font-weight: var(--fw-bold);
    letter-spacing: 0.15em;
    z-index: 1;
    opacity: 0; /* to make the animation work */
    animation: fade-in var(--ani-dur) var(--ani-dur) var(--ani-style) forwards;
  }
}

/* closing state */
.animate-closing {

  .chosen-chips__user {
    animation: top-left-to-center var(--ani-dur) var(--ani-style) forwards;
  }

  .chosen-chips__house {
    animation: top-right-to-center var(--ani-dur) var(--ani-style) forwards;
  }

  .chosen-chips__texts {
    animation: fade-out 200ms var(--ani-style) forwards;
  }
}