.default-chips {
  --bg-size: 70%;
  background-image: url('/images/bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--bg-size);

  &__chip-wrapper {
    position: absolute;

    &:nth-of-type(1) {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:nth-of-type(2) {
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }

    &:nth-of-type(3) {
      top: 0;
      right: 0;
      transform: translate(0, 0);
    }
  }
}