.default-chips {
  --bg-img: url('/images/bg-triangle.svg');
  --bg-size: 65%;
  --ani-dur: 400ms;
  --ani-style: ease;
  width: 100%;
  height: 100%;
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  animation: scale-up-bg var(--ani-dur) var(--ani-style) forwards;

  &__chip-wrapper {
    position: absolute;
  }
  /* rock */
  &__chip-wrapper:nth-of-type(1) {
    animation: center-to-bottom-center var(--ani-dur) var(--ani-style) forwards;
  }
  /* paper */
  &__chip-wrapper:nth-of-type(2) {
    animation: center-to-top-left var(--ani-dur) var(--ani-style) forwards;
  }
  /* scissors */
  &__chip-wrapper:nth-of-type(3) {
    animation: center-to-top-right var(--ani-dur) var(--ani-style) forwards;
  }
}