.results {
  text-align: center;
  position: relative;
  transform: translateY(-40%);
  animation: fade-in 200ms ease forwards;

  &__title {
    font-size: clamp(2.5rem, calc(1rem + 11vw), 5rem);
    font-weight: var(--fw-bold);
  }

  .btn {
    width: 75%;
  }
}

.animate-closing {
  &.results {
    animation: fade-out 200ms ease forwards;
  }
}